#------------------------
# Docker
#------------------------
APP_NAME='wordpress'
APP_ROOT='/var/www/apps'

# Database Connection
MYSQL_ROOT_PASSWORD=123456

# Web server
NGINX_SERVER_NAME='subname.docker.localhost'            # Set to server_name
NGINX_SITE_CONFIG='site.conf.template'                  # Set the site.conf (site.conf.template, site-https.conf.template)

# phpmyadmin
PHPMYADMIN_HOST_NAME='subname-phpmyadmin.docker.localhost'

#------------------------
# Database Config
#------------------------
DATABASE_USER=wordpress
DATABASE_PASS=123456
DATABASE_NAME=wordpress
TABLE_PREFIX=wp_

#------------------------
# WordPress Config
#------------------------
WORDPRESS_VERSION='6.0-php7.4-fpm-alpine' # Support only FPM --> https://hub.docker.com/_/wordpress
WORDPRESS_DEBUG=0
