### Docker and system
.env
system/logs
system/data

### Application
# public/web/app/plugins/*
!public/web/app/plugins/.gitkeep
public/web/app/mu-plugins/*/
public/web/app/upgrade
public/web/app/uploads/*
public/web/app/themes/twenty*
!public/web/app/uploads/.gitkeep
public/web/app/cache/*

### WordPress
public/web/wp
public/web/.htaccess

### Dotenv
.env
.env.*
!.env.example

### Composer
/vendor

### WP-CLI
wp-cli.local.yml

### ignore WordPress
public/web/app/cache
# public/web/app/themes/twenty*
public/web/app/uploads/wc-logs
public/web/app/uploads/wp-migrate-db*

### ignore Plugins
public/web/app/plugins/what-the-file
public/web/app/plugins/query-monitor
public/web/app/plugins/wp-migrate-db
public/web/app/plugins/all-in-one-wp-migration
public/web/app/mu-plugins/wp-migrate-db-pro-compatibility.php

### ignore Languages
public/web/app/languages/plugins/all-in-one-wp-migration*

### ignore Backups
public/web/app/ai1wm-backups
public/web/app/backup*
public/web/app/uploads/backwpup-*

### etc.
public/web/app/uploads/rsssl

### ignore node dependency directories
node_modules/

### ignore log files and databases
*.log
*.sql
*.sqlite

### ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.DS_Store

### ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Etc.
!shared/databases/*